/* Bootstrap style overrides */

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
/* Custom CSS */

.wallpaper-one {
    background: url("https://unsplash.it/1920/900/?image=431") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
.landing-section-one {
    padding: 40px 15px;
    text-align: center;
    color: white;
    background: transparent;
}
.landing-section-one h1 {
    font-size: 63px;
}
.btn-white-mat {
    border-width: 2px;
    border-radius: 4px;
    border-color: white;
    border-style: solid;
    color: white;
    background: transparent;
}
.btn:hover,
.btn:focus {
    color: #999999;
    border-color: #999999;
}
.form-signin-heading {
    color: white;
}
/* Custom typeform CSS */

.typeform-row {
    min-height: 100vh;
}
.muted {
    color: #999999;
}
