<!-- Specific selected survey goes here -->
<!-- controllerAs "sv" -->
<div class="container">
    <div class="row">

        <div class="col-md-3">
            <a href="#" class="pull-left">
                <img src="http://unsplash.it/200/300/?random" alt="" class="img-responsive img-thumbnail">
            </a>
        </div>

        <div class="col-md-9">
            <div class="row">
                <header>
                    <h3>{{ sv.survey.title }}</h3>
                </header>
                <hr>
                <p>{{ sv.survey.intro }}</p>
            </div>
        </div>

    </div>

    <div class="row" ng-repeat="question in sv.survey.questions | limitTo: maxQuestions" ng-show="sv.isSet({{ question.id }})">
        <div class="col-md-12">

            <div class="row">
                <div class="col-md-12">
                    <header>
                        <h3>
                            <!-- TODO: Need to include Question Title field once CMS implemented -->
                        </h3>
                    </header>
                    <hr>
                    <h4>{{ question.questionText }}</h4>
                </div>
            </div>

            <div class="radio" ng-repeat="responses in question.responses" ng-if="question.type == 'radio'">
                <label>
                    <!-- Need to change to "responses.index" for cleaner html  -->
                    <input type="radio" name="responsesRadio{{question.id}}" id="responese{{responses}}" value="{{responses}}">{{ responses }}
                </label>
            </div>

            <div ng-repeat="responses in question.responses" ng-if="question.type == 'textarea'">
                <blockquote class="blockquote">
                    <p class="text-muted">{{ textResponse }}</p>
                    <footer>{{ currentUser.email }}</footer>
                </blockquote>
                <textarea name="responsesText{{question.id}}" id="" rows="5" class="form-control" ng-model="textResponse"></textarea>
            </div>

        </div>

        <div class="row">
            <hr>
            <ul class="pager">
                <li ng-class="{disabled: sv.currentQuestion==0}"><a href="" ng-click="sv.prevQuestion()">&larr; Previous</a>
                </li>
                <li ng-class="{disabled: sv.currentQuestion >= sv.maxQuestions}"><a href="" ng-click="sv.nextQuestion()">Next &rarr;</a>
                </li>
            </ul>
        </div>

    </div>
