<div class="container-fluid wallpaper-one">
    <form class="form-signin" role="form" ng-submit="auth.login()">
        <h2 class="form-signin-heading">Sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required autofocus ng-model="auth.user.email">
        <input type="password" class="form-control" placeholder="Password" required ng-model="auth.user.password">
        <button class="btn btn-lg btn-white-mat btn-lg" type="submit">Sign in</button>
    </form>
</div>
